* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
}

.container {
  background: #f1f1f1;
  width: 1403px;
  margin: auto;
  height: 2000px;
}

section {
  padding: 40px;
}

/*******************************************NAVBAR*******************************************************/
nav#navbar {
  position: absolute;
  width: 100vw;
  height: 120px;
  opacity: 0.8;
  background: #272727;
  padding-left: 60px;
  padding-right: 172px;
}

nav#navbar a {
  opacity: 1;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  text-transform: none;
}

.uk-navbar-nav>li.uk-active>a {
  color: #F07C79;
}

.uk-navbar-nav>li>a {
  color: #ffffff;
}

.uk-navbar-nav>li:hover>a {
  color: #F07C79;
}

.uk-slider-container {
  top: 0;
  height: 100vh;
}

.uk-slider-container h2 {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "Helvetica-Regular";
  font-size: 60px;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0px;
  text-align: left;
  line-height: 80px;
}

.uk-slider-container .uk-panel div {
  position: absolute;
  left: 373px;
  width: 547px;
  height: 500px;
}

.uk-slider-items>li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  /* Adjust the height as needed */
  background: #f5f5f5;
  border: 1px solid #ddd;
}

.uk-slider-items img {
  max-width: 100%;
  height: auto;
  width: 100vw;
}

.uk-slider-container .uk-panel div .slider_cta {
  border-radius: 16px;
  opacity: 1;
  background-color: rgba(240, 124, 121, 1);
  width: 195px;
  height: 60px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
}

.uk-card-media-top img {
  transform: scaleX(-1);
  position: relative;
  top: -100px;
}

.uk-card-media-top {
  height: 240px;
  overflow: hidden;
}

.uk-card-body {
  background-color: #F3F3F3;
}

.uk-card-default .uk-card-body h3 {
  opacity: 1;
  color: #ED6562;
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  line-height: 30px;
  margin-top: 20px;
}

.uk-card-default .uk-card-body p {
  opacity: 1;
  color: rgba(70, 70, 70, 1);
  font-family: "Roboto-Regular";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: justify;
}

.uk-card-default .uk-card-body p.date {
  opacity: 1;
  color: rgba(131, 128, 128, 1);
  font-size: 14px;
  font-weight: 700;
  font-style: Bold;
  text-align: left;
  line-height: 30px;
}